<nav *ngIf="nav.visible" class="bg-purple-500 shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-end">
      <div class="flex space-x-7">
        <div class="flex items-center space-x-1">
          <a
            class="
              py-4
              px-2
              text-white
              font-semibold
              hover:text-red-500
              transition
              duration-300
            "
            routerLink="/home"
            >Profile</a
          >
          <a
            class="
              py-4
              px-2
              text-white
              font-semibold
              hover:text-red-500
              transition
              duration-300
            "
            routerLink="/collections"
            >Resources</a
          >
          <a
            class="
              py-4
              px-2
              text-white
              font-semibold
              hover:text-red-500
              transition
              duration-300
            "
            routerLink="/cast-editor"
            >Cast Editor</a
          >
          <a
            class="
              py-4
              px-2
              text-white
              font-semibold
              hover:text-red-500
              transition
              duration-300
            "
            (click)="logout()"
            routerLink="/login"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
