<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="w-full">
      <form #resources="ngForm" class="w-full mx-auto">
        <div class="">
          <div class="py-4">
            <label for="lnk" class="w-20 text-right mr-8 font-semibold"
              >Link</label
            >
            <input
              placeholder="Link"
              required
              [(ngModel)]="link.content"
              id="lnk"
              name="lnk"
              type="text"
              #lnk="ngModel"
              class="border border-gray-400 rounded w-full py-2 pl-2"
            />
          </div>
          <div
            [hidden]="lnk.valid || lnk.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Link is required
          </div>
          <div class="my-4">
            <label for="names" class="w-20 text-right mr-8 font-semibold">
              Name
            </label>

            <input
              placeholder="Name"
              required
              [(ngModel)]="link.name"
              id="names"
              name="names"
              type="text"
              #names="ngModel"
              class="border border-gray-400 rounded w-full py-2 pl-2"
            />
          </div>
          <div
            [hidden]="names.valid || names.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Name is required
          </div>

          <div>
            <label for="desc" class="w-20 text-right mr-8 font-semibold"
              >Resource Description</label
            >
          </div>
          <div>
            This will appear to your resource info card, right before opening
            this resource
          </div>
          <div>
            <textarea
              required
              [(ngModel)]="link.description"
              id="desc"
              name="desc"
              type="text"
              class="mb-4 w-full"
              #desc="ngModel"
              rows="10"
              class="border border-gray-400 rounded w-full"
            ></textarea>
          </div>
          <div
            [hidden]="desc.valid || desc.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Description is required
          </div>
          <div *ngIf="resources.form.valid; else invalid">
            <button
              [disabled]="!resources.form.valid || submitted"
              type="submit"
              class="
                my-8
                bg-purple-500
                shadow-lg
                py-2
                w-full
                rounded
                text-white
              "
              (click)="addResource()"
            >
              + ADD LINK
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #invalid>
  <button
    [disabled]="!resources.form.valid || submitted"
    type="submit"
    class="my-8 bg-gray-400 shadow-lg py-2 w-full rounded text-white"
  >
    + ADD LINK
  </button>
</ng-template>
