<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <input
      class="hidden"
      type="file"
      [accept]="requiredImg"
      (change)="onFileSelected($event)"
      #imgUpload
    />
    <div class="w-full">
      <form #resources="ngForm" class="w-full mx-auto">
        <div class="">
          <div class="py-4">
            <label
              for="names"
              class="my-2 py-2 w-20 text-right mr-8 font-semibold"
            >
              Name
            </label>

            <input
              placeholder="Name"
              required
              [(ngModel)]="exam.title"
              id="names"
              name="names"
              type="text"
              class="mb-4 w-full"
              #names="ngModel"
              class="px-2 py-2 my-2 border border-gray-400 rounded w-full"
            />
          </div>
          <div
            [hidden]="names.valid || names.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Name is required
          </div>
          <div class="font-semibold">Thumbnail</div>
          <div class="mb-2">
            Recommended aspect ratio is 3:4. Accepts jpeg, png, and gif.
          </div>
          <div *ngIf="!submittedImg && !uploadingImg">
            <img
              src="{{ placeholder }}"
              class="w-1/3 object-contain"
              alt="placeholder"
            />
          </div>
          <div *ngIf="uploadingImg" class="w-1/3 text-center">
            <svg
              class="animate-spin mx-auto h-5 w-5 text-black"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            UPLOADING...
          </div>
          <div *ngIf="submittedImg && !uploadingImg">
            <img
              src="{{ imgUri }}"
              class="w-1/3 object-contain"
              alt="thumbnail"
            />
          </div>
          <div>
            <button
              (click)="imgUpload.click()"
              class="w-1/3 mt-2 mb-8 bg-purple-500 shadow-lg rounded text-white"
            >
              ADD IMAGE
            </button>
          </div>

          <div>
            <label for="desc" class="w-20 text-right mr-8 font-semibold"
              >Resource Description</label
            >
          </div>
          <div>
            This will appear to your resource info card, right before opening
            this resource
          </div>
          <div>
            <textarea
              required
              [(ngModel)]="exam.description"
              id="desc"
              name="desc"
              type="text"
              class="mb-4 w-full"
              #desc="ngModel"
              rows="10"
              class="border border-gray-400 rounded w-full"
            ></textarea>
          </div>
          <div
            [hidden]="desc.valid || desc.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Description is required
          </div>
          <div *ngIf="resources.form.valid; else invalid">
            <button
              [disabled]="!resources.form.valid"
              type="submit"
              class="
                my-8
                bg-purple-500
                shadow-lg
                py-2
                w-full
                rounded
                text-white
              "
              (click)="goAddItems(); resources.reset()"
            >
              NEXT
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #invalid>
  <button
    [disabled]="!resources.form.valid"
    type="submit"
    class="my-8 bg-gray-400 shadow-lg py-2 w-full rounded text-white"
  >
    NEXT
  </button>
</ng-template>
