<input
  hidden
  type="file"
  [accept]="requiredImg"
  (change)="onFileSelected($event)"
  #imgUpload
/>

<div class="relative flex w-full h-100 my-2">
  <div *ngIf="objectLength > 0 && content.items" [hidden]="editable">
    <img [src]="content.items[0].src" alt="uploaded image" />
  </div>

  <div
    *ngIf="objectLength === 0 || !content.items"
    [hidden]="editable"
    class="bg-gray-600 w-full h-full pb-16 rounded"
  >
    icon here
  </div>
  <button
    [hidden]="!editable"
    [disabled]="uploading"
    class="w-full h-full bg-gray-600 py-8 text-white"
    (click)="imgUpload.click()"
  >
    <div *ngIf="uploading">
      <svg
        class="animate-spin mx-auto h-5 w-5 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      UPLOADING...
    </div>
    <div [hidden]="uploading">CHANGE IMAGE</div>
  </button>
  <button
    [hidden]="editable"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-purple-500 rounded"
    (click)="edit()"
  >
    EDIT
  </button>
  <button
    [hidden]="!editable"
    class="absolute z-10 top-0 right-0 my-4 mr-12 text-white bg-red-400 rounded"
    (click)="del()"
  >
    DEL
  </button>
  <button
    [hidden]="!editable"
    [disabled]="uploading"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-green-400 rounded"
    (click)="save()"
  >
    SVE
  </button>
</div>
