<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-4 sm:mx-12">
    <div class="w-full">
      <div class="text-left font-semibold w-full flex py-8 justify-between">
        <div class="text-lg">
          {{ crs_title }}
        </div>

        <button
          (click)="editCourseResource()"
          class="text-gray-400 hover:text-green-400"
        >
          EDIT
        </button>
      </div>
      <hr />
      <div *ngIf="sections.length === 0">
        <button
          (click)="addSection()"
          class="
            font-semibold
            py-1
            text-blue-700
            w-full
            bg-blue-200
            rounded
            my-4
          "
        >
          + ADD SECTION
        </button>
      </div>
      <!-- section list -->
      <div cdkDropList (cdkDropListDropped)="dropSection($event)">
        <div class="mt-4" *ngFor="let section of sections; index as i">
          <div *ngIf="!editable[i]" cdkDrag>
            <div class="flex justify-between">
              <!-- drag icon -->
              <div class="flex" cdkDragHandle>
                <svg
                  class="text-gray-400 mr-2 cursor-move"
                  width="24px"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                  ></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
                <div class="text-left font-medium text-lg">
                  {{ section.title }}
                </div>
              </div>
              <button
                class="text-gray-400 hover:text-green-400"
                (click)="edit(i)"
              >
                EDIT
              </button>
            </div>
            <!-- section block -->

            <div *ngFor="let block of section.blocks; index as j">
              <div class="flex my-2">
                <div *ngIf="block.cover_uri.length > 0">
                  <img
                    class="w-12 h-12 ml-2"
                    [src]="block.cover_uri"
                    alt="thumb"
                  />
                </div>
                <div *ngIf="block.cover_uri.length === 0">
                  <div class="w-12 h-12 bg-gray-400 ml-2"></div>
                </div>
                <div class="ml-2">
                  <div class="text-purple-400 text-xs">
                    {{ block.content.resource_details.type | uppercase }}
                  </div>
                  <div class="font-medium text-base">
                    {{ block.title }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- editable side -->
          <div *ngIf="editable[i]">
            <div class="flex justify-between">
              <input
                [(ngModel)]="section.title"
                [name]="i.toString()"
                class="
                  rounded
                  font-medium
                  text-lg
                  border-b-2 border-dashed border-purple-400
                "
              />
              <div>
                <button
                  (click)="deleteSection(i)"
                  class="bg-red-400 text-white rounded"
                >
                  DEL
                </button>
                <button
                  (click)="editSection(i)"
                  class="bg-green-400 text-white rounded"
                >
                  SVE
                </button>
              </div>
            </div>
            <div *ngIf="section.blocks.length === 0">
              <button
                (click)="addBlock(i)"
                class="
                  my-2
                  rounded
                  py-4
                  text-purple-500
                  bg-purple-200
                  w-full
                  text-center
                  hover:bg-purple-500 hover:text-white
                "
              >
                ADD SOMETHING
              </button>
            </div>
            <div *ngIf="section.blocks.length > 0">
              <div cdkDropList (cdkDropListDropped)="dropBlock($event, i)">
                <div *ngFor="let block of section.blocks; index as j" cdkDrag>
                  <div class="flex my-2">
                    <!-- drag icon -->
                    <svg
                      cdkDragHandle
                      class="text-gray-400 cursor-move"
                      width="24px"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                      ></path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                    <!-- if there are blocks, show this -->
                    <div *ngIf="block.cover_uri.length > 0">
                      <img
                        class="w-12 h-12 ml-2"
                        [src]="block.cover_uri"
                        alt="thumb"
                      />
                    </div>
                    <div *ngIf="block.cover_uri.length === 0">
                      <div class="w-12 h-12 bg-gray-400 ml-2"></div>
                    </div>
                    <div class="ml-2">
                      <div class="text-purple-400 text-xs">
                        {{ block.content.resource_details.type | uppercase }}
                      </div>
                      <div class="font-medium text-base">
                        {{ block.title }}
                      </div>
                    </div>
                    <button
                      (click)="deleteBlock(i, j)"
                      class="text-white bg-red-400 ml-auto rounded px-2"
                    >
                      DEL
                    </button>
                  </div>
                </div>
              </div>
              <button
                (click)="addBlock(i)"
                class="
                  my-2
                  rounded
                  py-4
                  text-purple-500
                  bg-purple-200
                  w-full
                  text-center
                  hover:bg-purple-500 hover:text-white
                "
              >
                ADD ANOTHER
              </button>
            </div>
          </div>
          <!-- add section -->
          <button
            (click)="addSection(i)"
            class="
              font-semibold
              py-1
              text-blue-700
              w-full
              bg-blue-200
              rounded
              my-4
            "
          >
            + ADD SECTION
          </button>
        </div>
      </div>
      <div class="py-4">
        <button
          type="submit"
          class="my-8 bg-purple-500 shadow-lg py-2 w-full rounded text-white"
          (click)="next()"
        >
          DONE
        </button>
      </div>
    </div>
  </div>
</div>
