<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="flex flex-col mx-12">
    <div class="pt-4 font-semibold">Add Question item</div>
    <div class="">Select a question block to add:</div>
    <div class="grid justify-items-center sm:grid-cols-2 grid-cols-1 w-full">
      <div>
        <button
          (click)="postType(0)"
          class="
            text-base
            m-4
            w-48
            h-48
            border border-purple-600
            rounded
            text-center text-purple-600
            hover:text-white hover:bg-purple-600
          "
        >
          Multiple Choice
        </button>
      </div>
      <div>
        <button
          (click)="postType(1)"
          class="
            text-base
            m-4
            w-48
            h-48
            border border-purple-600
            rounded
            text-center text-purple-600
            hover:text-white hover:bg-purple-600
          "
        >
          Text
        </button>
      </div>
      <div>
        <button
          (click)="postType(2)"
          class="
            text-base
            m-4
            w-48
            h-48
            border border-purple-600
            rounded
            text-center text-purple-600
            hover:text-white hover:bg-purple-600
          "
        >
          Checkbox
        </button>
      </div>
      <div>
        <button
          (click)="postType(3)"
          class="
            text-base
            m-4
            w-48
            h-48
            border border-purple-600
            rounded
            text-center text-purple-600
            hover:text-white hover:bg-purple-600
          "
        >
          Poll
        </button>
      </div>
    </div>
  </div>
</div>
