<h3 class="mx-auto w-full">Please insert section name</h3>
<input [(ngModel)]="input" name="input" class="py-2 w-full my-2 border" />

<div class="flex justify-between">
  <button
    class="bg-purple-500 py-2 w-20 text-white rounded"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button class="bg-red-400 py-2 w-20 text-white rounded" (click)="onSubmit()">
    Ok
  </button>
</div>
