<div class="relative flex w-full my-2">
  <textarea
    class="my-2 z-0 border border-gray-400 px-2 rounded w-full mx-auto"
    cols=""
    rows="5"
    [(ngModel)]="content"
    [value]="content"
    placeholder="Text here"
    [disabled]="!editable"
  ></textarea>
  <button
    [hidden]="editable"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-purple-500 rounded"
    (click)="edit()"
  >
    EDIT
  </button>
  <button
    [hidden]="!editable"
    class="absolute z-10 top-0 right-0 my-4 mr-12 text-white bg-red-400 rounded"
    (click)="del()"
  >
    DEL
  </button>
  <button
    [hidden]="!editable"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-green-400 rounded"
    (click)="save()"
  >
    SVE
  </button>
</div>
