<div
  class="
    flex flex-col
    w-full
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-4 sm:mx-12">
    <input
      class="hidden"
      type="file"
      [accept]="requiredImg"
      (change)="onFileSelected($event)"
      #imgUpload
    />
    <div class="">
      <form #resources="ngForm" class="mx-auto">
        <div class="font-semibold text-lg py-8">Multiple Choice</div>
        <div class="font-semibold text-lg py-2">
          <label for="names">Question</label>
        </div>
        <div class="grid grid-cols-8">
          <div class="flex h-8 justify-between col-span-7">
            <input
              required
              [(ngModel)]="item.text"
              id="names"
              name="names"
              type="text"
              #names="ngModel"
              class="p-2 mb-8 border border-gray-400 rounded mr-2 w-full h-8"
            />
          </div>
          <button (mouseup)="imgUpload.click()">
            <img
              class="w-8 h-8"
              src="../../../assets/img/image.png"
              alt="img-button"
            />
          </button>
        </div>
        <div [hidden]="names.valid || names.pristine" class="text-red-500">
          *Required
        </div>
        <div
          *ngIf="item.media_url || uploadingImg"
          class="relative grid grid-cols-1 mb-4 h-44 border rounded bg-gray-200"
        >
          <div class="absolute right-0 top-0">
            <button (click)="delPic()" class="text-white bg-red-400 rounded">
              DEL
            </button>
          </div>
          <div
            *ngIf="uploadingImg"
            class="place-self-center w-full text-center"
          >
            <svg
              class="animate-spin mx-auto h-5 w-5 text-black"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            UPLOADING...
          </div>
          <div *ngIf="item.media_url && !uploadingImg">
            <img
              class="object-contain h-44 w-full"
              src="{{ item.media_url }}"
              alt="thumbnail"
            />
          </div>
        </div>
        <div class="font-semibold text-lg py-2">Options</div>
        <div *ngIf="list.length > 0">
          <div *ngFor="let li of list; index as i" class="mb-2">
            <div class="grid grid-cols-8">
              <div *ngIf="i === 0" class="m-auto">
                <input
                  [checked]="li.is_correct"
                  class="m-auto"
                  type="radio"
                  id="pili"
                  name="pili"
                  (change)="correctAns($event, i)"
                />
              </div>
              <div *ngIf="i > 0" class="m-auto">
                <input
                  [checked]="li.is_correct"
                  class="m-auto"
                  type="radio"
                  id="pili"
                  name="pili"
                  (change)="correctAns($event, i)"
                />
              </div>
              <div class="flex h-8 justify-between col-span-5">
                <input
                  [(ngModel)]="inputTxt[i]"
                  id="list"
                  [name]="li.order_id + 1"
                  class="
                    p-2
                    mb-8
                    border border-gray-400
                    rounded
                    w-full
                    mr-2
                    h-8
                  "
                  type="text"
                  placeholder="Add option..."
                />
              </div>
              <button (mouseup)="imgUpload.click(); setPicIndex(i)">
                <img
                  class="w-8 h-8"
                  src="../../../assets/img/image.png"
                  alt="img-button"
                />
              </button>
              <button
                (click)="deleteChoice(i)"
                class="w-8 h-8 text-gray-400 hover:text-red-400"
              >
                DEL
              </button>
            </div>
            <div
              *ngIf="li.image_url || uploading[i]"
              class="
                relative
                grid grid-cols-1
                mb-4
                h-44
                border
                rounded
                bg-gray-200
              "
            >
              <div class="absolute right-0 top-0">
                <button
                  (click)="delPicOpt(i)"
                  class="text-white bg-red-400 rounded"
                >
                  DEL
                </button>
              </div>
              <div
                *ngIf="uploading[i]"
                class="place-self-center w-full text-center"
              >
                <svg
                  class="animate-spin mx-auto h-5 w-5 text-black"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"
                  ></circle>
                  <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path>
                </svg>
                UPLOADING...
              </div>
              <div *ngIf="li.image_url && !uploading[i]">
                <img
                  class="object-contain h-44 w-full"
                  src="{{ li.image_url }}"
                  alt="thumbnail"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-8">
          <div class="flex h-8 justify-between col-span-7">
            <input
              [(ngModel)]="input"
              id="option"
              [name]="list.length + 1"
              class="p-2 mb-8 border border-gray-400 rounded w-full h-8 mr-2"
              type="text"
              placeholder="Add option..."
              (keyup.enter)="onEnter()"
            />
          </div>
          <button (mouseup)="setPicIndex(list.length); imgUpload.click()">
            <img
              class="w-8 h-8"
              src="../../../assets/img/image.png"
              alt="img-button"
            />
          </button>
        </div>

        <div class="my-12">
          <input
            class="mr-4 w-4 h-4"
            type="checkbox"
            id="require"
            name="require"
            [(ngModel)]="item.required"
            (change)="onChange()"
          />

          <label for="require" class="font-semibold text-lg">Required</label>
          <div class="mx-8">Learner is required to answer this item</div>
        </div>
        <div *ngIf="resources.form.valid; else invalid">
          <button
            [disabled]="!resources.form.valid"
            (click)="save(); resources.reset()"
            class="w-full bg-purple-700 text-white rounded py-2"
          >
            SAVE
          </button>
        </div>
        <button
          (click)="saveAdd()"
          class="mt-4 w-full bg-blue-500 text-white rounded py-2"
        >
          SAVE AND ADD ANOTHER ITEM
        </button>
      </form>
    </div>
  </div>
</div>
<ng-template #invalid>
  <button
    [disabled]="!resources.form.valid"
    class="w-full bg-gray-400 text-white rounded py-2"
  >
    SAVE
  </button>
</ng-template>
