<div
  class="
    container
    w-full
    justify-center
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="flex flex-col justify-center">
      <div class="flex justify-center">
        <button
          class="
            my-2
            w-full
            flex-grow
            shadow-lg
            mx-auto
            rounded
            bg-purple-500
            py-2
            text-white
            hover:text-white
            transition
            duration-300
          "
          (click)="createScreen()"
        >
          + CREATE NEW SCREEN
        </button>
      </div>
      <div
        *ngFor="let screen of list; index as i"
        class="flex flex-col hover:bg-gray-50"
      >
        <div class="">
          <button
            class="text-gray-400 pt-2 pb-6 px-2 w-full text-left truncate"
            (click)="editScreen(screen.id)"
          >
            {{ screen.title }}
          </button>
        </div>
        <hr class="text-gray-400" />
      </div>
      <button
        class="
          my-2
          w-full
          flex-grow
          shadow-lg
          mx-auto
          rounded
          bg-purple-500
          py-2
          text-white
          hover:text-white
          transition
          duration-300
        "
        (click)="done()"
      >
        DONE
      </button>
    </div>
  </div>
</div>
