<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
    shadow-lg
  "
>
  <h1
    class="
      font-semibold
      text-4xl text-gray-800 text-center text-purple-500
      py-80
    "
  >
    CRUD APPLICATION
  </h1>

  <div class="flex justify-center">
    <button
      class="
        m-8
        w-full
        py-2
        px-4
        border border-transparent
        shadow-lg
        text-sm
        font-medium
        rounded-md
        text-white
        bg-purple-500
      "
      (click)="login()"
    >
      LOGIN
    </button>
  </div>
</div>
