<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="flex flex-col mx-12">
    <button
      (click)="editExam()"
      class="bg-purple-600 text-white w-full rounded py-2 my-4"
    >
      EDIT ASSESSMENT
    </button>
    <button
      (click)="editResource()"
      class="text-white bg-purple-600 w-full rounded py-2"
    >
      RESOURCE DETAILS
    </button>
  </div>
</div>
