<div class="font-semibold text-center text-2xl my-8">Add Block</div>
<div class="grid grid-cols-2 gap-4">
  <button
    class="
      py-20
      text-white
      w-full
      bg-purple-300
      text-2xl
      hover:bg-purple-500
      rounded
    "
    (click)="addCatalog()"
  >
    Catalog
  </button>
  <button
    class="
      py-20
      text-white
      w-full
      bg-purple-300
      text-2xl
      hover:bg-purple-500
      rounded
    "
    (click)="addCarousel()"
  >
    Carousel
  </button>
  <button
    class="
      py-20
      text-white
      w-full
      bg-purple-300
      hover:bg-purple-500
      text-2xl
      rounded
    "
    (click)="addTextBox()"
  >
    Text
  </button>
</div>
