<div
  class="
    container
    w-full
    justify-center
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="flex flex-col py-4 justify-center">
      <div class="flex justify-center">
        <button
          class="
            border border-gray-400 border-r-0
            rounded rounded-r-none
            pb-2
            z-10
            w-10
            h-10
          "
        >
          <img
            class="object-contain transform scale-50"
            src="./assets/img/search.png"
            alt="search"
          />
        </button>
        <input
          class="
            h-10
            pl-2
            rounded-l-none
            border-l-0
            flex-grow
            z-0
            border border-gray-400
            mb-4
            rounded
          "
          placeholder="Search"
          [(ngModel)]="search"
        />
      </div>
      <button
        class="
          w-full
          flex-grow
          shadow-lg
          mx-auto
          rounded
          bg-purple-500
          py-2
          text-white
          hover:text-white
          transition
          duration-300
        "
        (click)="collectionForm()"
      >
        + CREATE NEW COLLECTION
      </button>
    </div>
  </div>
  <div class="flex justify-center flex-col mx-12">
    <h3 class="text-xl text-gray-800 text-left py-8">Collections</h3>
    <hr class="mb-12 -mt-6" />

    <div *ngIf="search == ''; else searching">
      <div
        *ngFor="let collect of list; index as i"
        class="flex flex-col hover:bg-gray-50"
      >
        <div *ngIf="i >= 0">
          <hr class="" />
          <div class="flex">
            <img
              class="w-16 h-16 object-contain pt-2"
              src="./assets/img/folder.png"
              alt="thumbnail"
            />

            <button
              class="
                flex flex-col
                font-semibold
                w-1/2
                rounded
                text-left
                hover:text-purple-500
                transition
                duration-300
                pl-2
              "
              (click)="resourceList(collect.uuid)"
            >
              <div class="text-gray-400 pt-2">COLLECTION</div>
              <div class="pb-6 truncate">{{ collect.name }}</div>
            </button>
          </div>
          <hr class="text-gray-400" />
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #searching>
  <div
    *ngFor="let collect of list; index as i"
    class="flex flex-col hover:bg-gray-400"
  >
    <div
      *ngIf="
        i > 500 && collect.name.toUpperCase().indexOf(search.toUpperCase()) > -1
      "
    >
      <hr class="" />
      <div class="flex">
        <img
          class="w-16 h-16 object-contain pt-2"
          src="./assets/img/folder.png"
          alt="thumbnail"
        />
        <button
          class="
            flex flex-col
            font-semibold
            w-1/2
            rounded
            text-left
            hover:text-purple-500
            transition
            duration-300
            pl-2
          "
          (click)="resourceList(collect.uuid)"
        >
          <div class="text-gray-400 pt-2">COLLECTION</div>
          <div class="pb-6">{{ collect.name }}</div>
        </button>
      </div>
      <hr class="text-gray-400" />
    </div>
  </div>
</ng-template>
