<div
  class="
    flex flex-col
    w-full
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-4 sm:mx-12">
    <input
      class="hidden"
      type="file"
      [accept]="requiredImg"
      (change)="onFileSelected($event)"
      #imgUpload
    />
    <div class="">
      <form #resources="ngForm" class="mx-auto">
        <div class="font-semibold text-lg py-8">Text</div>
        <div class="font-semibold text-lg py-2">
          <label for="names">Question</label>
        </div>
        <div class="grid grid-cols-8">
          <div class="flex h-8 justify-between col-span-7">
            <input
              required
              [(ngModel)]="item.text"
              id="names"
              name="names"
              type="text"
              #names="ngModel"
              class="p-2 mb-8 border border-gray-400 rounded mr-2 w-full h-8"
            />
          </div>
          <button (mouseup)="imgUpload.click()">
            <img
              class="w-8 h-8"
              src="../../../assets/img/image.png"
              alt="img-button"
            />
          </button>
        </div>
        <div
          *ngIf="item.media_url"
          class="grid grid-cols-1 my-4 h-48 border rounded bg-gray-200"
        >
          <div
            *ngIf="uploadingImg"
            class="place-self-center w-full text-center"
          >
            <svg
              class="animate-spin mx-auto h-5 w-5 text-black"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            UPLOADING...
          </div>
          <div *ngIf="item.media_url && !uploadingImg">
            <img
              class="object-contain h-48 w-full"
              src="{{ item.media_url }}"
              alt="thumbnail"
            />
          </div>
        </div>
        <div [hidden]="names.valid || names.pristine" class="text-red-500">
          *Required
        </div>

        <div class="my-12">
          <input
            class="mr-4 w-4 h-4"
            type="checkbox"
            id="require"
            name="require"
            [(ngModel)]="item.required"
            (change)="onChange()"
          />

          <label for="require" class="font-semibold text-lg">Required</label>
          <div class="mx-8">Learner is required to answer this item</div>
        </div>
        <div *ngIf="resources.form.valid; else invalid">
          <button
            [disabled]="!resources.form.valid"
            (click)="save(); resources.reset()"
            class="w-full bg-purple-700 text-white rounded py-2"
          >
            SAVE
          </button>
        </div>
        <button
          (click)="saveAdd()"
          class="mt-4 w-full bg-blue-500 text-white rounded py-2"
        >
          SAVE AND ADD ANOTHER ITEM
        </button>
      </form>
    </div>
  </div>
</div>
<ng-template #invalid>
  <button
    [disabled]="!resources.form.valid"
    class="w-full bg-gray-400 text-white rounded py-2"
  >
    SAVE
  </button>
</ng-template>
