<div
  class="
    container
    w-full
    justify-center
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <form #screens="ngForm" class="w-full mx-auto">
      <div class="flex flex-col justify-center">
        <div class="flex justify-center">
          <button
            class="
              my-4
              w-full
              flex-grow
              shadow-lg
              mx-auto
              rounded
              bg-purple-500
              py-2
              text-white
              hover:text-white
              transition
              duration-300
            "
            (click)="editScreen()"
          >
            EDIT SCREEN
          </button>
        </div>

        <div class="flex flex-col">
          <label for="title" class="mt-8 font-semibold text-left mr-8"
            >Screen Title
          </label>
          <input
            placeholder="Title"
            required
            [(ngModel)]="screen.title"
            id="title"
            name="title"
            type="text"
            class="mb-4 w-full"
            #title="ngModel"
            class="
              pl-4
              mb-4
              py-2
              flex-grow
              z-0
              border border-gray-400
              mb-4
              rounded
            "
            value="{{ screen.title }}"
          />
        </div>
        <div
          [hidden]="title.valid || title.pristine"
          class="w-auto bg-red-300 text-center rounded mb-4"
        >
          Title is required
        </div>
        <div class="">
          <button
            class="
              w-full
              flex-grow
              shadow-lg
              mx-auto
              rounded
              bg-purple-500
              py-2
              text-white
              hover:text-white
              transition
              duration-300
            "
            (click)="save()"
          >
            SAVE
          </button>
        </div>

        <button
          class="
            my-8
            w-full
            flex-grow
            shadow-lg
            mx-auto
            rounded
            bg-red-400
            py-2
            text-white
            hover:text-white
            transition
            duration-300
          "
          (click)="openDialog()"
        >
          DELETE
        </button>
      </div>
    </form>
  </div>
</div>
