.cdk-virtual-scroll-data-source-example
  .example-viewport
  .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}
.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
}
.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
