<div class="relative container w-full my-2 h-60 border border-gray-400 rounded">
  <div class="text-left ml-8 mt-2">
    <input
      class="w-1/3 px-2 font-semibold rounded border border-gray-400"
      [(ngModel)]="collection.name"
      [value]="collection.name"
      [disabled]="!editable"
    />
  </div>
  <div [hidden]="!editable" class="text-purple-400 font-semibold ml-8">
    --------------------------
  </div>
  <div *ngIf="list.length === 0" class="mx-4">
    <button
      [hidden]="editable"
      class="text-center py-10 w-full text-white my-8 bg-purple-200 rounded"
    >
      NOTHING HERE
    </button>
    <button
      (click)="addResource()"
      [hidden]="!editable"
      class="
        hover:bg-purple-500
        text-center
        py-10
        w-full
        text-white
        my-8
        bg-purple-200
        rounded
      "
    >
      + ADD RESOURCE
    </button>
  </div>
  <div *ngIf="list.length > 0" class="flex mt-4 overflow-x-auto ml-4">
    <button
      [hidden]="!editable"
      (click)="addResource()"
      class="
        pt-2
        text-white
        bg-purple-300
        hover:bg-purple-500
        text-center
        rounded
        w-32
        h-40
        mr-4
      "
    >
      + ADD RESOURCE
    </button>
    <div *ngFor="let li of list; index as i">
      <div class="relative border border-gray-400 rounded w-32 h-40 mr-4">
        <button
          (click)="editResource(li.uuid, li.type)"
          class="z-0 text-center w-full h-full"
        >
          <div
            class="
              absolute
              z-0
              pt-1
              pb-1
              bg-purple-500
              w-full
              text-white
              font-semibold
              top-0
              truncate
            "
          >
            {{ li.type.toUpperCase() }}
          </div>
          <div *ngIf="li.cover_uri; else noImage">
            <img
              class="absolute z-10 top-6 w-32 h-32"
              [src]="li.cover_uri"
              alt="thumbnail"
            />
          </div>
          <div
            class="
              absolute
              z-20
              pb-6
              w-full
              text-black text-left
              font-semibold
              bottom-0
              ml-2
              truncate
            "
          >
            {{ li.name }}
          </div>
        </button>
        <button
          [hidden]="!editable"
          (click)="delResource(li.uuid)"
          class="
            absolute
            z-30
            bg-red-400
            text-white
            bottom-0
            right-0
            mr-2
            mb-2
            rounded
          "
        >
          DEL
        </button>
      </div>
    </div>
  </div>
  <button
    [hidden]="editable"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-purple-500 rounded"
    (click)="edit()"
  >
    EDIT
  </button>
  <button
    [hidden]="!editable"
    class="absolute z-10 top-0 right-0 my-4 mr-12 text-white bg-red-400 rounded"
    (click)="del()"
  >
    DEL
  </button>
  <button
    [hidden]="!editable"
    class="absolute z-10 top-0 right-0 m-4 text-white bg-green-400 rounded"
    (click)="save()"
  >
    SVE
  </button>
</div>
<ng-template #noImage></ng-template>
