<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="w-full">
      <form #collection="ngForm" class="w-full mx-auto">
        <div class="">
          <div class="py-4">
            <label for="names" class="w-20 text-right mr-8 font-semibold">
              Name
            </label>

            <input
              placeholder="Name"
              required
              [(ngModel)]="collect.name"
              id="names"
              name="names"
              type="text"
              class="mb-4 w-full"
              #names="ngModel"
              class="border border-gray-400 rounded w-full"
            />
          </div>
          <div
            [hidden]="names.valid || names.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Name is required
          </div>

          <div>
            <label for="desc" class="w-20 text-right mr-8 font-semibold"
              >Resource Description</label
            >
          </div>
          <div>
            This will appear to your resource info card, right before opening
            this resource
          </div>
          <div>
            <textarea
              required
              [(ngModel)]="collect.description"
              id="desc"
              name="desc"
              type="text"
              class="mb-4 w-full"
              #desc="ngModel"
              rows="10"
              class="border border-gray-400 rounded w-full"
            ></textarea>
          </div>
          <div
            [hidden]="desc.valid || desc.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Description is required
          </div>
          <button
            [disabled]="!collection.form.valid"
            type="submit"
            class="my-8 bg-purple-500 shadow-lg py-2 w-full rounded text-white"
            (click)="addCollection()"
          >
            + ADD LINK
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
