<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="flex flex-col py-4 justify-center">
      <div class="flex justify-center">
        <button
          class="
            border border-gray-400 border-r-0
            rounded rounded-r-none
            pb-9
            z-10
            w-10
            h-10
          "
        >
          <img
            class="object-contain transform scale-50"
            src="./assets/img/search.png"
            alt="search"
          />
        </button>
        <input
          class="
            pl-2
            h-10
            flex-grow
            rounded-l-none
            z-0
            border border-gray-400 border-l-0
            mb-4
            rounded
          "
          placeholder="Search"
          [(ngModel)]="search"
        />
      </div>
      <button
        class="
          w-full
          flex-grow
          shadow-lg
          mx-auto
          rounded
          bg-blue-500
          py-2
          text-white
          hover:text-white
          transition
          duration-300
        "
        (click)="addResource()"
      >
        + CREATE NEW RESOURCE
      </button>
    </div>
    <!-- Resource List Loop -->
    <div class="flex justify-center flex-col">
      <h3 class="font-bold text-xl text-gray-800 text-left py-8">Resources</h3>
      <hr class="mb-12 -mt-6" />

      <div *ngIf="search == ''; else searching">
        <div
          *ngFor="let resource of list; index as i"
          class="flex flex-col hover:bg-gray-50"
        >
          <div *ngIf="i >= 0" class="">
            <hr class="py-2" />
            <div class="flex">
              <div *ngIf="resource.cover_uri; else no_tn" class="">
                <img
                  class="w-16 h-16 object-contain"
                  src="{{ resource.cover_uri }}"
                  alt="thumbnail"
                />
              </div>
              <button
                class="
                  font-semibold
                  w-1/2
                  h-1/6
                  rounded
                  hover:text-purple-500
                  transition
                  duration-300
                  pl-2
                "
                (click)="openResource(i)"
              >
                <div class="text-gray-400 text-left">
                  {{ resource.type.toUpperCase() }}
                </div>
                <div class="text-left pb-6">
                  {{ resource.name }}
                </div>
              </button>
            </div>
            <hr class="" />
          </div>
        </div>
      </div>
    </div>

    <ng-template #searching>
      <div
        *ngFor="let resource of list; index as i"
        class="flex flex-col hover:bg-gray-50"
      >
        <div
          *ngIf="resource.name.toUpperCase().indexOf(search.toUpperCase()) > -1"
        >
          <hr class="py-2" />
          <div class="flex">
            <div *ngIf="resource.cover_uri; else no_tn" class="">
              <img
                class="w-16 h-16 object-contain"
                src="{{ resource.cover_uri }}"
                alt="thumbnail"
              />
            </div>
            <button
              class="
                font-semibold
                w-1/2
                h-1/6
                rounded
                hover:text-purple-500
                transition
                duration-300
                pl-2
              "
              (click)="openResource(i)"
            >
              <div class="text-gray-400 text-left">
                {{ resource.type.toUpperCase() }}
              </div>
              <div class="text-left pb-6 truncate">{{ resource.name }}</div>
            </button>
          </div>
          <hr class="" />
        </div>
      </div>
    </ng-template>

    <ng-template #no_tn>
      <div class="shadow-inner w-1/8 h-1/6">
        <div class="w-16 h-16 text-center text-gray-500 mx-auto">Pic</div>
      </div>
    </ng-template>
  </div>
</div>
