<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <input
      class="hidden"
      type="file"
      [accept]="requiredFileType"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <input
      class="hidden"
      type="file"
      [accept]="requiredImg"
      (change)="onFileSelected($event)"
      #imgUpload
    />
    <div class="w-full">
      <form #resources="ngForm" class="w-full">
        <div class="">
          <div
            *ngIf="!submittedVideo && video.content && !uploading"
            class="py-4"
          >
            <video controls class="mx-auto w-full">
              <source src="{{ video.content }}" />
              Your browser does not support the video tag.
            </video>
            <div class="text-center text-purple-500 truncate">
              <a href="{{ video.content }}">{{ video.content }}</a>
            </div>
          </div>
          <div *ngIf="uploading" class="mx-auto text-center">
            <svg
              class="animate-spin mx-auto h-5 w-5 text-black"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            UPLOADING...
          </div>
          <div *ngIf="submittedVideo && !uploading" class="py-4">
            <video controls class="mx-auto w-full">
              <source src="{{ video.content }}" />
              Your browser does not support the video tag.
            </video>
            <div class="text-center text-purple-500 truncate">
              <a href="{{ video.content }}">{{ video.content }}</a>
            </div>
          </div>
          <button
            (click)="fileUpload.click()"
            class="bg-purple-500 shadow-lg w-full rounded text-white"
          >
            CHANGE
          </button>

          <div>
            <label for="names" class="w-20 text-right mr-8 font-semibold">
              Name
            </label>

            <input
              placeholder="Name"
              required
              [(ngModel)]="video.name"
              id="names"
              name="names"
              type="text"
              #names="ngModel"
              class="border border-gray-400 rounded w-full pl-2 py-2"
              value="{{ video.name }}"
            />
          </div>
          <div
            [hidden]="names.valid || names.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Name is required
          </div>
          <div class="font-semibold">Thumbnail</div>
          <div>
            Recommended aspect ratio is 3:4. Accepts jpeg, png, and gif.
          </div>
          <div *ngIf="!submittedImg && !uploadingImg && !imgUri">
            <img src="{{ placeholder }}" class="w-1/3 h-1/5" alt="thumbnail" />
          </div>
          <div *ngIf="!submittedImg && !uploadingImg && imgUri">
            <img src="{{ imgUri }}" class="w-1/3 h-1/5" alt="thumbnail" />
          </div>
          <div *ngIf="uploadingImg" class="w-1/3 text-center">
            <svg
              class="animate-spin mx-auto h-5 w-5 text-black"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            UPLOADING...
          </div>
          <div *ngIf="submittedImg && !uploadingImg && imgUri">
            <img src="{{ imgUri }}" class="w-1/3 h-1/5" alt="thumbnail" />
          </div>
          <div>
            <button
              (click)="imgUpload.click()"
              class="w-1/3 mb-8 bg-purple-500 shadow-lg rounded text-white"
            >
              ADD IMAGE
            </button>
          </div>

          <div>
            <label for="desc" class="w-20 text-right mr-8 font-semibold"
              >Resource Description</label
            >
          </div>
          <div>
            This will appear to your resource info card, right before opening
            this resource
          </div>
          <div>
            <textarea
              required
              [(ngModel)]="video.description"
              id="desc"
              name="desc"
              type="text"
              class="mb-4 w-full"
              #desc="ngModel"
              rows="10"
              class="border border-gray-400 rounded w-full"
              value="{{ video.description }}"
            ></textarea>
          </div>
          <div
            [hidden]="desc.valid || desc.pristine"
            class="w-auto bg-red-300 text-center rounded"
          >
            Description is required
          </div>
          <button
            type="submit"
            class="my-8 bg-purple-500 shadow-lg py-2 w-full rounded text-white"
            (click)="updateResource()"
          >
            SAVE CHANGES
          </button>
          <button
            class="bg-red-500 mb-4 shadow-lg py-2 w-full rounded text-white"
            (click)="deleteResource()"
          >
            DELETE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
