<h3 class="mx-auto w-full">Are you sure you want to delete this screen?</h3>
<div class="flex justify-between">
  <button
    class="bg-purple-500 py-2 w-20 text-white rounded"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button class="bg-red-400 py-2 w-20 text-white rounded" (click)="onDelete()">
    Ok
  </button>
</div>
