<div
  class="
    container
    w-full
    justify-center
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-xxl
  "
>
  <div class="mx-12">
    <button
      class="
        w-full
        shadow-lg
        rounded
        bg-purple-500
        py-2
        text-white
        hover:text-red-400
        transition
        duration-300
        my-2
      "
      (click)="goScreenList()"
    >
      Screen List
    </button>

    <button
      [hidden]="blocks.length > 0"
      (click)="addBlock(0)"
      class="font-semibold py-1 text-blue-700 w-full bg-blue-200 rounded"
    >
      + ADD BLOCK
    </button>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let blok of blocks; index as i" cdkDrag>
        <div *ngIf="blok.type === 'markdown'">
          <div class="container">
            <app-text-block
              (deleted)="deleted($event)"
              [block]="blok"
              [blockID]="blok.id"
              [screenID]="screenID"
              [content]="blok.properties.content"
            ></app-text-block>
          </div>

          <button
            (click)="addBlock(i + 1)"
            class="font-semibold py-1 text-blue-700 w-full bg-blue-200 rounded"
          >
            + ADD BLOCK
          </button>
        </div>
        <div *ngIf="blok.type === 'catalog'">
          <div class="container">
            <app-catalog-block
              (deleted)="deleted($event)"
              [block]="blok"
              [blockID]="blok.id"
              [screenID]="screenID"
              [content]="blok.properties.uuid"
            ></app-catalog-block>
          </div>

          <button
            (click)="addBlock(i + 1)"
            class="font-semibold py-1 text-blue-700 w-full bg-blue-200 rounded"
          >
            + ADD BLOCK
          </button>
        </div>
        <div *ngIf="blok.type === 'carousel'">
          <div class="container">
            <app-carousel-block
              (deleted)="deleted($event)"
              [block]="blok"
              [blockID]="blok.id"
              [screenID]="screenID"
              [content]="blok.properties"
            ></app-carousel-block>
          </div>
          <button
            (click)="addBlock(i + 1)"
            class="font-semibold py-1 text-blue-700 w-full bg-blue-200 rounded"
          >
            + ADD BLOCK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
