<div class="flex flex-col w-full">
  <label for="screen" class="text-gray-400">Enter screen name</label>
  <input
    placeholder="Name"
    type="text"
    id="screen"
    name="screen"
    [(ngModel)]="name"
    class="w-full px-2 py-2 border border-gray-400 rounded"
  />
</div>
<div class="flex justify-between mt-2">
  <button
    class="bg-purple-500 py-2 w-20 text-white rounded"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button class="bg-red-400 py-2 w-20 text-white rounded" (click)="onEnter()">
    Ok
  </button>
</div>
