<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="flex flex-col w-full mx-auto">
      <button
        class="
          shadow-lg
          mx-auto
          bg-purple-500
          text-white
          rounded
          m-8
          w-full
          py-4
        "
        (click)="addLink()"
      >
        + CREATE NEW LINK RESOURCE
      </button>
      <button
        class="
          shadow-lg
          mx-auto
          bg-purple-500
          text-white
          rounded
          m-8
          w-full
          py-4
        "
        (click)="addVideo()"
      >
        + CREATE NEW VIDEO RESOURCE
      </button>
      <button
        class="
          shadow-lg
          mx-auto
          bg-purple-500
          text-white
          rounded
          m-8
          w-full
          py-4
        "
        (click)="addPDF()"
      >
        + CREATE NEW PDF RESOURCE
      </button>
      <button
        class="
          shadow-lg
          mx-auto
          bg-purple-500
          text-white
          rounded
          m-8
          w-full
          py-4
        "
        (click)="addExam()"
      >
        + CREATE NEW ASSESSMENT
      </button>
      <button
        [hidden]="inside_course"
        class="
          shadow-lg
          mx-auto
          bg-purple-500
          text-white
          rounded
          m-8
          w-full
          py-4
        "
        (click)="addCourse()"
      >
        CREATE COURSE
      </button>
    </div>
  </div>
</div>
