<div
  class="
    container
    w-full
    justify-center
    pb-3
    mx-auto
    bg-white
    h-full
    min-h-screen
    max-w-lg
  "
>
  <div class="mx-12">
    <div class="w-full">
      <form #resources="ngForm" class="w-full mx-auto">
        <div class="">
          <button
            (click)="addQuestion()"
            class="my-8 py-2 bg-purple-500 shadow-lg w-full rounded text-white"
          >
            + ADD QUESTION
          </button>
          <div
            *ngIf="items.length === 0"
            class="rounded bg-red-100 text-red-500 text-center"
          >
            *Activity is required
          </div>
          <div *ngIf="items.length > 0">
            <div cdkDropList (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of items; index as i">
                <div class="grid grid-cols-9" cdkDrag>
                  <div class="col-span-1 mx-auto" cdkDragHandle>
                    <button class="text-gray-400 hover:text-green-400">
                      DRG
                    </button>
                  </div>
                  <div
                    class="
                      border border-gray-300
                      col-span-7
                      text-purple-600
                      bg-purple-100
                      font-semibold
                      rounded
                      py-2
                      mb-2
                    "
                  >
                    <div class="pl-2 flex justify-between pr-2">
                      <div *ngIf="item.type === 'MC'">Multiple Choice</div>
                      <div *ngIf="item.type === 'PO'">Poll</div>
                      <div *ngIf="item.type === 'LA'">Text</div>
                      <div *ngIf="item.type === 'CB'">Checkbox</div>
                      <button
                        (click)="edit(i)"
                        class="text-gray-400 hover:text-green-400"
                      >
                        EDIT
                      </button>
                    </div>

                    <div class="text-black py-2 bg-white">
                      <div
                        *ngIf="item.media_url"
                        class="grid grid-cols-1 mx-2 h-28 bg-gray-200 rounded"
                      >
                        <img
                          class="object-contain h-28 w-full"
                          src="{{ item.media_url }}"
                          alt="thumbnail"
                        />
                      </div>
                      <div class="font-semibold pl-2 pt-2">
                        Question {{ i + 1 }}
                      </div>

                      <div class="font-normal pl-2 py-2">
                        {{ item.text }}
                      </div>
                    </div>
                    <div class="flex justify-between py-1 mx-2">
                      <div *ngIf="item.required" class="text-purple-600 italic">
                        *Required
                      </div>
                      <div class="text-purple-600 font-normal">
                        Points {{ item.weight }}
                      </div>
                    </div>
                  </div>
                  <div class="col-span-1 mx-auto">
                    <button
                      (click)="delete(i)"
                      class="text-gray-400 hover:text-red-400"
                    >
                      DEL
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            (click)="done()"
            [disabled]="!resources.form.valid"
            type="submit"
            class="
              sticky
              bottom-0
              my-8
              bg-purple-500
              shadow-lg
              py-2
              w-full
              rounded
              text-white
            "
          >
            DONE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
